[2012-10-07 18:02] wsuff opened #1 "Can't seem to install php-redmine-api with composer"
I added a composer.json to my project

[code]

and attempted composer install

[code]

Any help would be greatly appreciated. Class seems like it would make my task much easier.

[2012-10-09 00:59] #1 closed, assigned to kbsali

[2012-10-16 17:02] wsuff opened #2 "Redmine API via SSL"
On the install I'm working on we just switched over to SSL for security reasons but unfortunately it appears this library assumes HTTP so all my logic against the redmine api no longer works. I'd assume it would be mostly changes to the client.php usage of CURL.

https://gist.github.com/159552ef7d45a1553aa5

[code]

was enough to satisfy my immediate need.

Better solution as I see it is below:
1)

[2012-10-19 21:10] #2 closed, assigned to nobody

[2012-10-19 21:14] wsuff opened #3 "Features Missing from Library"
I'm considering using this in a larger scope project where as groups,issue relationships,project memberships might be useful. Any reason these weren't currently supported?

Also when logging a time entries, I don't think using strings for activity worked. Using the activity ID I think it was ok. Any insight? I'd put code samples but I don't have it handy.

I'd be willing to collaborate on expandin

[2012-11-02 15:27] #3 closed, assigned to nobody

[2012-11-12 09:31] Eighke opened #6 "Switch key and value in listing"
Hi,

In Version, the **listing()** function uses the _name_ as key. But the name isn't unique and if you used a name twice or more, only the last is sent back. This also is a problem in Project.

Would it not be better to use the _ID_ as key?

[code]

And for getIdByName()

[code]

[2012-11-15 20:01] ghost opened #8 "Delete issue version"
If you want to remove the target version of an issue, you're supposed to set it to null.
The array_filter call in Redmine\Api\Issue::update removes this null value from the params array, so it never makes it to the rest api call.

[2012-11-19 09:34] #8 closed, assigned to nobody

[2012-11-22 10:36] #6 closed, assigned to nobody

[2013-02-04 19:33] wsuff opened #12 "New Rest API Features in Redmine 2.2.X"
http://www.redmine.org/projects/redmine/wiki/Rest_api

Seems enumerations were added finally for time entries and priories.

Wiki editing but don't see any major upside there.

User Impersonation

As of Redmine 2.2.0, you can impersonate user through the REST API by setting the X-Redmine-Switch-User header of your API request. It must be set to a user login (eg. X-Redmine-Switch-User: jsmith). Thi

[2013-02-19 08:45] janson-git opened #15 "Custom fields for Issues when creating"
We have use some custom fields it redmine tasks for some projects, and I was needs to add this functionality in php-redmine-api quickly.

Probably you find this functionality is allowed to add for php-redmine-api. Of course in more presentable format. :)

My solution is next:
- in Redmine\Api\Issue class added this code in 'create' (and something like this in 'update') method:

<pre>
...
       $p

[2013-02-26 14:54] vergissberlin opened #16 "Linebreaks"
Currently it is not possible to insert line breaks in notes or descriptions.

**Example:**

[code]

[2013-02-26 14:54] vergissberlin opened #17 "Linebreaks"
issue post faild. sry.

[2013-02-27 09:20] #17 closed, assigned to nobody

[2013-03-06 09:50] albertoburgosplaza opened #18 "Out of place cast in listing projects function"
I realized that in lib/Redmine/Api/Project.php, line 43, the cast are inside the array tag, it has to be before var like this:

$ret[(int) $e['id']] =  $e['name'];

Regards.

[2013-03-06 10:22] #15 closed, assigned to nobody

[2013-03-06 10:22] #18 closed, assigned to nobody

[2013-04-04 14:24] ahnkle opened #21 "Custom fields problem"
In your example to create an issue, you have

...
'custom_fields' => array(
  'id' => 22,
  'value' => 'some object'),
...

But I have multiple custom fields, and I needed to do

...
'custom_fields' => array(
  array(
    'id' => 22,
    'value' => 'some object'),)
...

to get the custom field to be accepted.

[2013-04-24 08:01] #21 closed, assigned to nobody

[2013-04-25 14:06] madc opened #22 "Allow attaching of uploaded file when creating an issue."
Hoi,

the upload api is already implemented into this lib and seems to work. But i do not see a way to attach the uploaded file to a new issue.

According to the [Redmine API docs](http://www.redmine.org/projects/redmine/wiki/Rest_api#Attaching-files), it should be something like this:

[code]

But this results in the following warning:

[code]

[2013-04-26 08:12] #22 closed, assigned to nobody

[2013-05-20 10:23] buoyant opened #25 "get all issues with custom field value."
How to list all issues by searching with custom field value.

when i tried

$issues = $client->api('issue')->all(array(
             // 'offset'         => 19,
                       'limit'          => 10,
             'project_id'     => 'me-proj',
             'custom_fields'  => array(
        'id'    => '232',        
        'value' => '1234',
            ),
));

I get this Warning: urlencod

[2013-06-19 09:50] #25 closed, assigned to nobody

[2013-07-11 10:38] LukasRychtecky opened #28 "Call to undefined method Redmine\Api\Tracker::getIdByName()"
This error occured due calling Client::api('issue')::create($issue)
lib/Redmine/Api/Issue.php:216
version: 0.4.9
Var $issue contatins param 'tracker'

Thanks guys

[2013-07-14 16:03] #28 closed, assigned to nobody

[2013-09-30 13:02] juanmf opened #33 "assigned_to in Issue.php"
Hi,

  I´m putting something together to import sheets, but I bumped into this lines {218,222}:

[code]

you are unsetting the just created index, I think it hould be assigned_to_id.

Thanks!

[2013-10-01 12:42] #33 closed, assigned to nobody

[2013-10-08 09:25] artursv opened #34 "Adding multiple issue watchers"
Greetings!

I'm currently working on PHP script that imports data into Redmine. I'm having problems with adding watchers to issues.

When providing single integer it works and user is added as a follower to the issue.

[code]

However, I need to add multiple watchers to the issue. Is it possible to provide an array of integers like so:

[code]

Thanks,
Arthur

[2013-10-14 13:41] #16 closed, assigned to nobody

[2013-10-30 16:02] dmigowski opened #35 "API does not handle more than 25 projects in Redmine"
The problem seems to be the function Api\Projects.all(), which simply calls the JSON API which doesn't return more than 25 projects if no limit is given. With limit, it returns up to 100 projects. To really make this usable, someone should either add a limit of 100 there, or should do a series of calls until all projects have been read in.

[2013-11-12 12:26] #35 closed, assigned to nobody

[2013-11-20 08:52] bwassermann opened #42 "PHP Redmine with Redmine 2.4.0"
Hey,

i cant create/update an issue with your api.

Im running an redmine server with version 2.4.0 (released a few days ago).

On the server log i got the following Message in log:

(Update an issue)

Started PUT "/redmine//issues/7518.xml" for 127.0.0.1 at 2013-11-20 08:51:28 +0100
Processing by IssuesController#update as XML
  Parameters: {"issue"=>{"id"=>"7518", "author_id"=>"3"}, "id"=>"7518"

[2013-11-25 07:43] #42 closed, assigned to nobody

[2013-11-28 19:24] vbezruchkin opened #44 "Improve methods to get statistics"
Hi guys,

First of all let me thank you for the API. It's really great and easy to use.

I wonder if there is an easy to get statistics only, rather than issues rows. Example:
http://dev.subrion.com/versions/86

You can see this statistics:
Bug 8/20
Feature 3/7

Is there any way to move this type of queries in the default api? Or should I get a list of all issues & then parse them in PHP? Or creat

[2013-11-29 14:21] #44 closed, assigned to nobody

[2013-12-01 01:28] foxpowa opened #45 "Attachment on issue failed"
<pre>
$upload = json_decode( $client->api('attachment')->upload(file_get_contents('feedback.png')));

$issue = $client->api('issue')->create(array(
    'project_id'  => '3',
    'subject'     => 'Feedback',
    'description' => "desc"
));

$client->api('issue')->attach($issue->id, array(
    'token'        => $upload->upload->token,
    'description'  => 'Attachement',
    'content_type' => 'image

[2013-12-03 13:04] VoidAndAny opened #46 "Find a project, limit 25"
When I search a project with getIdByName, my projects are not found if they are not in the 25 first one.

Indeed "getIdByName" call "listing" function to construct an array of projects.
"Listing" call "all" function because $this->projects is empty and finally "all" function call "retrieveAll" function of AbstractApi.

The problem is that "retrieveAll" function has a default limitation of 25 items

[2013-12-13 13:18] #34 closed, assigned to nobody

[2013-12-13 13:18] #12 closed, assigned to nobody

[2014-02-25 11:17] vitaliy-evsyukov opened #49 "HTTP response status code"
When, for example, I try to get information about issue placed in project I haven't access, I just got "Syntax error" (because redmine response is one space - " "). In this case, we need to get information from curl_getinfo (where response code is 403), but you don't provide this information.
Can you to add support for fetching response code?

[2014-02-28 12:42] #49 closed, assigned to nobody

[2014-02-28 16:01] arnoarno opened #53 "Create or update wiki page"
Hi,

To create or update a wiki page, you have to use PUT method instead of POST.
I remove in my case the cleanParams function because it's not present in the Wiki class nor AbstractApi and I don't need it.

<pre>
/**
     * Create a new issue given an array of $params
     * The issue is assigned to the authenticated user.
     * @link http://www.redmine.org/projects/redmine/wiki/Rest_Issues#Crea

[2014-02-28 18:24] #53 closed, assigned to nobody

[2014-03-04 10:19] MichaelKling opened #54 "SimpleXMLElement::addChild(): unterminated entity reference"
Writing a small import script for issues i experienced this error.

It happened when one of the issues had an & inside the description.
"http://www.exmple.org/blapage.aspx?PfId=415616&OtherId=231245&SomeOtherId=1&pref=plqv#.Ug5xIFJAeXE"

and it seems to be this problem:
http://stackoverflow.com/questions/17027043/unterminated-entity-reference-php

I could solve it by changing Issue.php line 90 fro

[2014-03-07 09:20] tpinne opened #55 "Packagist has not the current code"
Hi,

It seems that the latest commits from February 28th did not make it to packagist. The latestet version we got via composer misses the namespace fixes.

Best regards
tpinne

[2014-03-07 09:44] #55 closed, assigned to nobody

[2014-04-16 11:01] orkotr opened #57 "How can i get server response and show a custom message while creating issue."
Hi,
I am a newbie to php and github. My goal is that when i create an issue, ı want to show a custom message to user if issue created or not.
Here is the code from example.php
        <?php

[code]

 // ----------------------------
    // Instanciate a redmine client
    // --> with ApiKey
    $client = new Redmine\Client('http://localhost:8080/redmine/', 'abcd98789789');

[code]

Now what should

[2014-05-08 10:04] #57 closed, assigned to nobody

[2014-05-08 15:35] #54 closed, assigned to nobody

[2014-05-20 10:07] JanMalte opened #61 "Make limit optional"
I think it would be better, if the limit is provided optional and default is set to no limit.
This would solve #46 too.

If you accept this issue, I can try to provide a PR with the needed changes. Just tell me if this should be implemented or not.

[2014-05-22 11:24] funivan opened #63 "Http Auth + apiKey"
How can i use http basic authorization and apiKey
I find only one way to do this: pass as parameter each time.

[code]

but this is not good, to pass it every time.

[2014-05-24 05:40] thewheat opened #64 "example.php should only do "read only" actions"
Ok I admit this was mostly my fault but I configured the top part of the example.php with my Redmine configuration and ran the example.php file without looking at the full code which resulted in it deleting data from my installation. Not exactly the best result when running an example but I think

I suggest example.php.
- contain read only actions
- creating/deleting/update actions should be comme

[2014-06-06 10:27] vitaliy-evsyukov opened #71 "Strict mode error"
Declaration of Redmine\Api\SimpleXMLElement::addChild() should be compatible with SimpleXMLElement::addChild($name, $value = NULL, $ns = NULL)

https://github.com/kbsali/php-redmine-api/pull/70

[2014-06-10 20:12] #71 closed, assigned to nobody

[2014-06-10 20:14] #63 closed, assigned to nobody

[2014-06-10 21:10] jasir opened #75 "Current master - 40 test failures (on windows)"
Is it something what is happening or it is just me?
Thanks

[2014-06-17 07:57] #75 closed, assigned to nobody

[2014-06-25 10:58] derhasi opened #80 "Attachments missing for Wiki pages"
As the wiki page and version endpoint can hold attachments, the Rest API supports `?include=attachments` for the request.

As I recognized, issues already have a $params param for providing that or projects hardcodes `?include=trackers,issue_categories,attachments,relations`.

[2014-06-26 13:20] #80 closed, assigned to nobody

[2014-07-15 09:13] #64 closed, assigned to nobody

[2014-09-29 08:09] Henry31 opened #86 "Read a Issue and get the Attachments"
Hi,

i want to read a issue, and download all attachments from this single issue to create a second similar issue. But how can i look up which attachment a issue have? i only found the solution to get an attachment by it´s id.

On the official REST API from Readmine a found this line: `Note: when getting an issue through the API, its attachments can also be retrieved in a single request using GET

[2014-09-29 10:02] #86 closed, assigned to nobody

[2014-10-29 10:27] thejfraser opened #88 "417 Expectation Fails"
when testing using a string for the description of > 2000 characters to a lighttpd server, the curl request would fail in `runRequest` with header code 417

fixed by adding in `$httpHeader[] = 'Expect: ';`

perhaps add a client method to specify additional headers?

[2014-11-05 08:26] #88 closed, assigned to nobody

[2014-11-11 13:54] orlitzky opened #93 "Allow manual installation"
Hello, I'd like to be able to install the library manually (i.e. without composer). Ultimately my goal is to package it for Gentoo, so that users can install it using our package manager, portage.

I've hit a problem though: unlike the other language install tools (rubygems, cabal, etc.), composer encourages you to use its autoload.php file instead of keeping track of includes at the top of each f

[2014-11-21 12:24] Henry31 opened #94 "Ticket creation - Start_date problem"
If i create a ticket, and i don´t want a start_date it isn´t possible. It replaced the empty "start_date" with the currently date from today.

example:
[code]
if i didn´t set the start_date it will also not work.

and something like `none` or `0` does not work, too.

Can you help me?

[2014-12-09 14:25] Henry31 opened #95 "How set the option“inherited members” for projects"
I create automatically with the rest api a lot of projects in Redmine.

But we have the problem that for every project we need to set manually the option "inherited members from parent projects" (i don´t know exactly the right spelling). This is very disappointing.

This is the snippet how we create a project:

[code]

This work´s nicely. But i want to add something like this:

[code]

I tried the

[2014-12-09 22:39] #95 closed, assigned to nobody

[2014-12-26 16:18] #93 closed, assigned to nobody

[2015-01-05 08:56] funivan opened #97 "Guzzle support"
Hi. I see guzzle support in current todo list.
I can do that, but i think there is some backward incompatibles.

I will show you my vision of new API

[code]
With this aproach we can move all http configuration and loggin (authorization, base url  ) to `Client`

Or  there is second way

[code]
At this point `Redmine\Client::runRequest` create request, execute it via guzzle client and get response.

[2015-01-06 15:26] kbsali commented on #97
Hi @funivan,

thanks for clearly detailing your ideas, but i would leave this aside for now :
* nobody really asked for it,
* i originally thought that guzzle would make it easier to test the library, but @JanMalte made an amazing job at testing it all without adding any dependency,
* and recently @orlitzky proposed to package php-redmine-api on Gentoo, and to do so we should again keep the depend

[2015-01-07 09:30] JanMalte commented on #94
Is an empty start date supported by Redmine itself?
What happens if you create a Ticket directly in Redmine and leave the start_date field empty? Will it be replaced with the current datetime?

[2015-01-07 12:28] funivan commented on #97
@kbsali i have troubles with authorisation (specific in our development server) I already said about that #63 Guzzle support is only one way to solve that.

I understand that for one user it is not good to break out api and rewrite library.

My position. If several users vote for guzzle support we can implement it.
You can close this issue and refer  to it from Readme (Maybe Guzzle for handling ht

[2015-01-07 17:25] funivan commented on #63
I already extend client. Thanks for help =)

[2015-01-07 20:45] kbsali commented on #97
@funivan how about you describe exactly have you fixed your problem and we document it or refer to it in the readme?

thx!

[2015-01-07 21:30] JanMalte opened #98 "Add support for scrutinizer-ci.com"
It would suggest to let scrutinizer-ci.com check the code for each commit:
https://scrutinizer-ci.com/

It accepted, I can commit a basic configuration file for it. All you have to do is set up the account on scrutinizer-ci.com as this is your repository. ;)

[2015-01-07 21:30] JanMalte opened #99 "Add support for travis-ci.com"
It would suggest to let travis-ci.com run the tests for each commit:
https://travis-ci.org/

It accepted, I can commit a basic configuration file for it. All you have to do is set up the account on travis-ci.com as this is your repository. ;)

[2015-01-08 17:21] kbsali commented on #99
i integrated travis-ci a few months ago, is there anything we could improve?
-> https://github.com/kbsali/php-redmine-api/blob/master/.travis.yml

[2015-01-08 17:29] kbsali commented on #98
Thanks! I've just signed up and... wow that's pretty awesome! :)
Here is the 1st report : https://scrutinizer-ci.com/g/kbsali/php-redmine-api/inspections/7eab3e7a-0f30-40ab-8bca-63c77e461864

Good! There room for improvement! :) Please don't hesitate to commit a configuration file!
thx

[2015-01-08 18:47] JanMalte commented on #99
I create a PR with the changes. Pushing the coverage to scrutinizer-ci.com was added.

This issue can be closed, if the PR is merged.

[2015-01-08 18:54] JanMalte commented on #98
Yes, i just started using the tool for another project. Sadly it contains only functions, which aren't rated by scrutinizer-ci.com as it is designed for OOP. But the checks gives already a very clear view over the state of a project.

I just added the external code coverage for it. Some more configuration will come later in a new PR.

[2015-01-09 08:17] kbsali commented on #98
mind blown! Thanks a lot (AGAIN!) @JanMalte !!! :+1: :+1:

[2015-01-09 08:17] #98 closed

[2015-01-09 08:17] kbsali commented on #99
:+1: great!

[2015-01-09 08:17] #99 closed

[2015-01-12 11:34] Henry31 commented on #94
yes it will replaced with the current datetime :(

[2015-01-12 12:53] Art4 commented on #94
@Henry31 There is a setting for this behaviour in Administration -> Settings -> Issues -> "Use current date as start date for new issues". Uncheck this setting and "start_date" won't be replaced with the current date.

[2015-01-12 13:01] Henry31 commented on #94
Oh, i see! Thanks a lot! I think now it must work!

If not i will reopen this issue.

Thanks a lot @Art4

[2015-01-12 13:01] #94 closed

[2015-01-12 13:04] kbsali commented on #94
thx @Henry31 !

[2015-01-13 14:02] funivan commented on #97
My solution is not very good at current point https://github.com/funivan/redmine-api/blob/master/src/Fiv/Redmine/Client.php#L99:L107 but it works.
That's why i want to rewrite it with guzzle client)

[2015-01-13 20:32] JanMalte commented on #97
Would this changed ```Client.php``` solve the problem of having tweo authntification modes at once?
https://gist.github.com/JanMalte/59ac16355028a3b8d54b

You can have a username and password and/or an API key.

The gist was just scribbled down in a few seconds as an idea of having both mechanisms at the same time.

[2015-01-14 11:20] avierck opened #103 "Create Issue assigned to group"
As far as I can see, so far its not possible to create a ticket and assign it to a group instead of a user via 'assigned_to', is there a way so resolve this, maybe going through the group api?
Update: Using 'assigned_to_id' and the group id works, so one would only need to look up the group name for the id.

[2015-01-14 16:17] mrbinr opened #104 "Curl response was a one spaced string"
Hi,
in file <strong>lib/Redmine/Client.php</strong> on line 389 there is curl response, and in my case, was an empty string " " and this thrown an exception on line 403 when it tries to instanciate SimpleXMLElement :

<pre>return new SimpleXMLElement($response);</pre>

I have checked <strong>$contentType</strong> which was <strong>'application/xml'</strong>
In my case it occured when responseCode

[2015-01-15 08:26] kbsali commented on #104
Hi @mrbinr,
If the trim() solution worked for you, it might work for others! :) So go ahead a create PR to get it in! I'd be more than happy to accept it!

[2015-01-15 08:41] funivan commented on #97
@JanMalte  i think yes. This solution allow users two method authentication.

[2015-01-15 08:51] funivan commented on #104
I think `trim` just remove spaces. You cant init `SimpleXMLElement` with empty string
I see 2 solutions of this:
- If we have empty response from server  init `SimpleXMLElement` with following content
[code]

- throw exception

[2015-01-15 12:55] mrbinr commented on #104
Hi,
@funivan trim() works because test before SimpleXMLElement init avoid instanciation.
When i've tried it, it works for me...

@kbsali ok, i will do it ...

[2015-01-26 15:25] EldrosKandar opened #106 "Updates through API to write a comment fails with status 200 response"
I'm trying to write a comment in redmine using the following line:

$issuenumber = 12345;
$comment = "api comment";
$client->api('issue')->update($issuenumber,['notes'=>$comment]);

But although the command doesn't fails and send a status 200 response, the response itself is empty, and the only thing changed in the redmine task is time at which it was last updated.

It appears to be a similar issu

[2015-01-26 21:12] blackout314 opened #107 "yii wrapper"
Hi mate,
FYI https://github.com/blackout314/yii-php-redmine-api :+1:

[2015-01-26 21:27] kbsali commented on #107
@blackout314 great!
How about using composer so you don't have to manually import the updates of php-redmine-api back to your repository?
plenty of examples available : https://packagist.org/search/?q=yii

[2015-01-26 21:27] #107 closed

[2015-01-26 21:28] kbsali commented on #107
(closing as this not a bug, but a good news! ;))

[2015-01-27 12:00] gggeek opened #108 "can not create an issue with a custom-field which has a multi_value"
If I set to a php array the value of a custom attribute, which has been defined as multivalued in redmine, the issue creation call fails

See here for the correct XML to produce in that case: http://www.redmine.org/issues/11952

[2015-01-27 12:05] gggeek commented on #108
Sent PR: https://github.com/kbsali/php-redmine-api/pull/109

[2015-02-10 07:42] Henry31 opened #110 "Set Custom Field on User Creation"
i have a task to create many users through the rest API. All this Users need to check a Checkbox. So i do this:
[code]

but nothing happens! The user will be created but the custom field will not be set. I do it like your told in the example.php. The ID from this customfield is 10.

Can you help me?

[2015-02-10 11:23] Art4 commented on #110
Untested:

[code]

Your example with `cf_10` is used to list users.

[2015-02-11 09:36] ssimon27 opened #111 "Can't find the right syntax to create a custom_fields when creating a project"
Hi.
I'm having an issue when I try to insert a custom_field when creating a project :

![sans titre](https://cloud.githubusercontent.com/assets/10956180/6144599/b6b40456-b1d9-11e4-8d70-0740cab6ad56.png)

Can someone tell me what's wrong with my code please ?
By the way, this is the error I get when I try to create it :

![sans titre](https://cloud.githubusercontent.com/assets/10956180/6144709/aa3a

[2015-02-11 13:22] Art4 commented on #111
Every custom field data must be in a seperate array:

[code]

[2015-02-11 13:33] ssimon27 commented on #111
First of all, thank you for taking the time to answer.
However, I already tried that,

![image](https://cloud.githubusercontent.com/assets/10956180/6147752/fb777458-b1fa-11e4-8628-1ed28a1dcec8.png)

 and it gave me the same error as above.

[2015-02-11 13:51] Art4 commented on #111
Ok, next try: The value of `tracker_ids` must be an array. Make sure, `$project->getTracker()` returns an array or use `'tracker_ids' => array($project->getTracker()),`

[2015-02-11 13:54] ssimon27 commented on #111
It's value is an array.
In fact, everything is working, my project is created in redmine, except that it hasn't any custom field filled, and this error appears on my page.
I really don't know what to do now...

[2015-02-11 14:01] Art4 commented on #111
Ok, I'm running of ideas and cannot test this right now. Maybe someone else could help.

[2015-02-18 13:01] Halmaethor opened #112 "Cannot update issue's done_ratio when the given value is zero"
Hi,

I'm having a problem with updating an issue, the done_ratio doesn't update when I give the value zero. For example, if the current done_ratio is > 0 and I want to "restart" it, I can't.

This is due to the use of array_filter without a proper callback (it just verifies if the values are == false). I'll send a PR do solve this issue.

[2015-02-18 13:19] Halmaethor commented on #112
Sent PR: #113

[2015-02-23 12:06] Henry31 commented on #110
Thanks a Lot! This works nicely!

sorry it was my fault.

[2015-02-23 12:06] #110 closed

[2015-02-25 14:21] kbsali commented on #108
should be fixed in #87

[2015-02-25 14:21] #108 closed

[2015-02-26 13:31] mkorman90 opened #114 "Search issues by description"
Is this possible?
I have tried
$issues = $client->api('issue')->all(array('description'  => '*abcd*'));

Without success

[2015-02-26 21:30] kbsali commented on #114
no, sorry. See the docblock for a full list of available parameters : https://github.com/kbsali/php-redmine-api/blob/master/lib%2FRedmine%2FApi%2FIssue.php#L21

[2015-02-26 21:30] #114 closed

[2015-02-27 08:40] Henry31 opened #115 "getIdByUsername didn´t work"
Hello,

i wrote a script to create some users in our redmine system automatically. But many times we got an error because the function "getIdByUsername" gives a "False" back. I don´t know why this happend. The Username exist in our Redmine System. Everything seems okay.

[code]

some example for the structure of our usernames:
- test-user@test.de
- test.user@gmail.com
- test@test-website.de

yes w

[2015-02-27 09:33] Henry31 commented on #95
Thanks a lot for your fast response.

I open a issue on redmine.org today --> http://www.redmine.org/issues/19214

[2015-02-27 13:33] LucileQ commented on #95
Hi,

I've updated Redmine's wiki (inherit_members and a few other fields added).
Redmine does support inherit_members since inherit_members implementation. (fev 2013 ~ version 2.3.0)

For development purpose you should refer to the source code and its tests.

[2015-03-02 06:54] Henry31 commented on #115
okay, i tested a lot more. Now every task failed at this point...

[2015-03-02 08:56] Henry31 commented on #115
It seems to be a Limit Problem.

[code]

I think the issue is about the limitation with 25 users per default...?

[2015-03-03 22:37] gpilla opened #116 "Not downloading attachment feature"
As I had tested, you can download an attachment not only see the information about it.

If you want to download a file by the api you need to request by GET the resource but without the .json or .xml logging in with the header token auth (I tested it in that way).

Example: http://redmine.demo.com/attachments/{id}

[2015-03-04 11:24] #116 closed

[2015-03-04 13:48] gpilla commented on #97
I think that one of the benefits, can be the implementation of the guzzle cache.

[2015-03-09 09:45] Henry31 commented on #95
@kbsali have you notice this change? i couldn´t open this issue anymore.

[2015-03-13 08:33] kbsali commented on #95
I'm not sure i understand you question @Henry31

[2015-03-16 08:45] Henry31 commented on #95
@kbsali you said "this is not supported through the api" but it is supported as you can see here: http://www.redmine.org/projects/redmine/wiki/Rest_Projects#Creating-a-project

[2015-03-19 15:07] Henry31 opened #120 "Get child issue from the current issue"
Hello i want to know the child issue from an issue.

Something like that:

[code]

Like documented here: http://www.redmine.org/projects/redmine/wiki/Rest_Issues#Showing-an-issue
(See includes)

Thanks a Lot!

[2015-03-19 15:14] Henry31 commented on #46
As a workaround i check the output against my limit.
[code]

[2015-03-24 13:23] lydianFolk opened #121 "Access to an issues attachment via issueId"
Hello and thank you for sharing this library.

I wonder, if I have access to an issues attachment, if only the issueId is known. I dumped like this:

var_dump($client->api('issue')->show($issueId));

There are a lot of issue related informations available, but nothing like an attachmentId or an array of several attachmentIds. I really stuck at this point. Does any method cover this aspect:

GET /i

[2015-03-31 09:08] Henry31 opened #123 "Can´t set a custom field on update"
I try to update a project through the php redmine api.
[code]
the name will be update but the custom field won´t be set. I only get this error:
[code]

[2015-04-01 09:18] ben62920 opened #124 "I thinks use"

[2015-04-01 09:20] #124 closed

[2015-04-13 00:27] ferdynator commented on #121
Try `$client->api('issue')->show($issueId, array('include' => array('attachments')));`

See [Api/Issue,php#L49](https://github.com/kbsali/php-redmine-api/blob/master/lib/Redmine/Api/Issue.php#L49) in the comments.

[2015-04-14 13:24] kbsali commented on #121
@lydianFolk could you confirm @ferdynator 's solution works ok for you?
If so, please close the issue.

Thx.

[2015-04-14 18:40] lydianFolk commented on #121
Thank you, ferdynator. In fact I havn't seen this part of the api description. Shame on me. I tried your suggestion. Unfortunately this does not succeed too. It provides issue related data but nothing about attachments. same, when using ```$client->api('issue')->show($issueId, array('attachments')))```
I wonder how to get this working.

Kind regards

[2015-04-15 12:21] Henry31 commented on #111
I think it´s the same error i get here #123 !

[2015-04-16 15:08] ferdynator commented on #97
It would be simple to add a nice [caching layer](http://guzzle3.readthedocs.org/plugins/cache-plugin.html). Running many requests to this  API (maybe even asynchronous) can be rather slow and a caching layer would definitely help in my case.

[2015-04-17 06:38] funivan commented on #97
@ferdynator  agree. Sometimes cache is very useful

[2015-04-17 07:14] kbsali commented on #97
True, although implementing a cheap caching layer on top of what we already have should be rather easy.
Having said that, if someone wants to submit a PR for supporting the current curl client AND Guzzle, that would be awesome.

[2015-04-17 17:07] lydianFolk commented on #121
got access via curl. thx anyway

[2015-04-17 17:07] #121 closed

[2015-04-27 10:53] ghost opened #127 "Search issues by multiple values (i.e. status_id or tracker_id)"
I tried `/issues.xml?status_id=8&status_id=10` but it doesn't work, it seems that search is performed against one value only (same thing for tracker_id)

I found on StackOverflow this answer http://stackoverflow.com/a/18358659 about an undocumented way of calling issue API with multiple values, like this `/issues.json?project_id=154&f[]=status_id&op[status_id]==&v[status_id][]=10&v[status_id][]=8&

[2015-04-27 18:44] Philosoft commented on #127
:+1:  it'd be handy.

[2015-05-08 00:11] RoboSparrow opened #128 "custom field support for time entries (PUT/POST)"
Hi,

 thanks for this great API!

The TimeEntry API currently don't support writing/updating custom fields. (The request XML is not created for these fields)

Redmine does support PUT/POST for time_entry custom fields as described in their Wiki.

[code]

[2015-05-11 20:05] #128 closed

[2015-05-11 21:02] kbsali commented on #123
@Henry31 i believe the project api does not support custom_fields (and the client either, that's why you get the error...).

Please close the issue unless you do find info about custom_field support for the porject api.

Thanks.

[2015-05-11 21:10] kbsali commented on #127
that looks interesting @marcofrattola ,
but i failed understand the logic of the arguments list of the example you found on stackoverflow?

It looks like this has been asked for a long time ago and Redmine's lead dev had a proposal : http://www.redmine.org/issues/10828
I'm not sure if it has been added to the api though... (would you mind checking? status_id=8|10) ?

[2015-05-11 21:12] kbsali commented on #112
@Halmaethor closing as your PR should have fixed your issue.

[2015-05-11 21:12] #112 closed

[2015-05-11 21:14] kbsali commented on #111
this duplicates #123 as @Henry31 mentioned.
I'm afraid this is not possible via the API simply because the api does not support custom_field for project (and nor that this php client).

[2015-05-11 21:14] #111 closed

[2015-05-11 21:14] kbsali commented on #123
confirmed.

re-open if you find more info.

[2015-05-11 21:14] #123 closed

[2015-05-11 21:17] kbsali commented on #104
forgot to close this after merging PR #105...

[2015-05-11 21:17] #104 closed

[2015-05-11 21:21] kbsali commented on #103
@avierck sorry for the (very) late follow up, can we close this issue then? You seem to have found a work around...

[2015-05-12 07:38] funivan commented on #97
@JanMalte i solve issue with 2 authorization methods and all workds fine =)
[code]

[2015-05-12 09:31] marcofrattola commented on #127
@kbsali I checked, it seems working this syntax too, thanks. Do you consider port this syntax into php-redmine-api ...?

[2015-05-12 21:57] JanMalte opened #131 "Refactore test"
The two test classes for the client should be moved to ```Redmine\Fixtures``` in the ```tests/``` directory.

Both classes can be merged together to ease writing and maintaining tests.

[2015-05-14 14:38] #131 closed

[2015-06-05 12:15] ferdynator commented on #46
I've changed the `AbstractApi::retrieveAll` method to work around this:

    protected function retrieveAll($endpoint, array $params = array())
    {
        $defaults = array(
            'limit' => 100,
            'offset' => 0,
        );
        $params = $this->sanitizeParams($defaults, $params);

        $ret = array();

        $limit = $params['limit'];
        $offset = $params['offset']

[2015-06-05 12:17] ferdynator commented on #61
Checkout my [solution here](https://github.com/kbsali/php-redmine-api/issues/46#issuecomment-109272166). Please confirm if it works for you

[2015-06-09 07:52] kbsali commented on #46
@VoidAndAny, it's been a loooong time since you raised this issue... see @ferdynator 's last comment, should this still be needful to you!

[2015-06-11 13:28] herve13650 opened #136 "[responseCode:Redmine\Client:private] => 403"
hi,
I have response code 403 when i want to create new issue, if i want to update existing issue with the same redmine user, i have no problem. My redmine user is Manager , Développeur and Rapporteur.

$client = new Redmine\Client('127.0.0.1:8080/redmine/', 'user', 'password');

this code is OK
/********************************************************/
$client->api('issue')->update($issueId, array

[2015-06-30 07:03] #136 closed

[2015-07-09 17:57] valentinmagrez opened #139 "Connexion behind proxy"
Is it possible maybe to add parameters to use curl behind proxy:
        curl_setopt($ch, CURLOPT_PROXYPORT, getenv("proxy_port"));
        curl_setopt($ch, CURLOPT_PROXY, getenv("proxy_host"));

?

[2015-07-11 07:21] #139 closed

[2015-09-01 08:47] wallish opened #142 "$client->api('project')->show() return 1 for a non-existing project"
[code]
$client->api('project')->show() return 1 for a non-existing project instead of 0 or null

[2015-09-01 09:34] Art4 commented on #142
I can't reproduce this. Tested with v1.5.5

[code]

Returns `bool(false)`.

[2015-09-01 12:04] wallish commented on #142
I updated to v1.5.5, the problem has been solved :) thx dude

[2015-09-01 12:04] #142 closed

[2015-09-01 13:19] kbsali commented on #142
thanks @Art4 ! :+1:

[2015-09-18 10:36] roidayan commented on #127
Hi,

From my testing using the | separator works for me with an online redmine hosting and demo.redmine.org so it seems the patch is applied.

[2015-10-27 06:34] agileware opened #144 "Support for posting Private notes for an Issue?"
Hi,

Just wondering if this API has support for posting Private notes for an Issue?

Have reviewed the code and was unable to find it. Any assistance greatly appreciated!

Best wishes!

[2015-10-29 08:48] agileware commented on #144
Support added in #145

[2015-10-29 08:48] #144 closed

[2015-10-30 08:49] chrisvoo opened #146 "[REQUEST] JSON response"
Hi,
thank you for your job. It could be usefull to receive responses also in JSON format, instead of a SimpleXmlElement. Now it seems available only for attachments API.
Bye :-)

[2015-11-04 22:52] agileware opened #148 "user_ids property not available for membership create method."
Hi,

Just to let you know that the user_ids property is not available for the membership create method in the Redmine API. See http://www.redmine.org/projects/redmine/wiki/Rest_Memberships#POST

So if you try to use the php-redmine-api to add a membership for a group using the user_ids property, this will fail and Redmine will return a 500 HTTP error.

The solution is to just use the user_id prope

[2015-11-20 23:29] kbsali commented on #148
thx @agileware,
sorry for the late answer. The latest release should fix the issue.

[2015-11-20 23:29] #148 closed

[2015-12-10 10:28] Samhamsam opened #150 "Get the last Ticket with status id 5"
Hello Guys,

thank you so much for this great work!
I have the following question:
Is there a way to get the last Ticket that was closed, without to make a big loop and compare every date.

I have tried this with the following code but it does not work. It gives me just the Ticket with the highest id that was closed.
[code]

Is there a better way to do this?

Thanks

[2015-12-10 11:41] Art4 commented on #150
I think the `:desc` must append to the value:

[code]

[2015-12-10 13:46] Samhamsam commented on #150
Thanks you! Now it works perfectly.
Another question: Can i return just the Ticket id's?
[code]
So that in the variable $ticket-ids are just numbers. Like: 1,2,3,4,5,etc

[2015-12-10 14:21] Art4 commented on #150
That is imho not possible.

[2015-12-10 14:31] Samhamsam commented on #150
Ok. Thank you!

[2015-12-10 14:31] #150 closed

[2015-12-13 10:34] kbsali commented on #150
Thanks @Art4 ! ;)

[2016-01-30 17:58] cjsewell opened #153 "Error 500 with filters"
When querying with a filter such as:
[code]

I receive a 500 Error and the Redmine log has
[code]

After debugging I discovered the `PHP Redmine API` sends the filter numeric index's
e.g
`limit=25&offset=0&f[0]=spent_on&op[spent_on]=><&v[spent_on][0]=2016-01-18&v[spent_on][1]=2016-01-22`
While Redmine expects the query string to be constructed without them
`limit=25&offset=0&f[]=spent_on&op[spent_

[2016-01-31 22:08] #153 closed

[2016-02-04 11:43] mpreitz opened #155 "Unable to create new issue with PHP 7"
First of all: thank you for your work!

My Environment:
Redmine version - 3.2.0.stable.14976
php-redmine-api - master-branch

I can connect to my redmine instance, can read the users, etc.
But if I wan't to create a new issue with the following code

nothing happens.
Redmine production log says:

What am I doing wrong?

[2016-02-05 09:44] adamgieron commented on #120
Try:
`$client->api('issue')->show(xxxxx, array ('include' => 'children')); `

[2016-03-03 09:02] ffogarasi opened #156 "Issue Attachement Fix required"
In file kbsali/redmine-api/lib/Redmine/Api/Issue.php in function attach the request array is not well created.

Currently it is:
$request['issue'] = array(
            'id' => $id,
            'uploads' => array(
                'upload' => $attachment,
            ),
);
It should be:
        $request['issue'] = array(
            'id' => $id,
            'uploads' => $attachment,
);

[2016-03-03 09:40] Art4 commented on #156
After reading https://www.redmine.org/projects/redmine/wiki/Rest_api#Attaching-files I would assume the `uploads` property must be an array with `$attachment`:

[code]

[2016-03-03 10:01] ffogarasi commented on #156
With @Art4's suggestion we can only attach one file per request.

My presumption was that the function should be able to attach multiple files at once.
That is why I assigned the `$attachment` directly to the `uploads` key.

If user wants to attach a single file all he needs to do is wrap it in an array before passing it to the object.

As this function is not working at the moment there is no bac

[2016-03-06 18:29] kbsali commented on #156
@ffogarasi no problem for fixing this! Now that @Art4 & yourself have discovered the issue, don't be shy : submit a Pull Request!

[2016-03-06 19:02] Art4 commented on #156
@ffogarasi :+1: for the new method `attachMany()` because of BC.

[2016-03-06 20:04] kbsali commented on #156
@Art4 there won't be BC issue as $attachment already is type hinted to Array.
I would simply fix the existing method with your proposed solution.

[2016-03-08 08:27] ffogarasi commented on #156
The intent of the original function is to: "Attach a file to an issue issue number. Requires authentication."
I will fix the original function to be able to add one attachment and add the attachMany function too.

[2016-03-14 19:36] belug23 commented on #155
Since Redmine 3 the project_id needs to be the numeric id of the project.

[2016-03-14 22:13] kbsali commented on #155
thanks for the input @belug23 .
@mpreitz did that help? Can we close that issue?

[2016-03-15 11:16] adamgieron commented on #146
You can encode response as json
`return json_encode($whatever);`

[2016-03-17 14:00] duxthefux commented on #155
I also can't create a new issue:
$ticket = $redmine->getApi()->issue->create([
            'project_id'  => $request->project_id,
            'subject'     => $request->summary,
            'description' => $request->description,
            'assigned_to' => $request->user_id,
        ]);

it only works if I do: (Issue.php: Line 148)
 #return $this->post('/issues.xml', $xml->asXML());
$json = json

[2016-03-17 14:12] belug23 commented on #155
@duxthefux could you please post the json and xml content and the error response, without the content it's almost imposible to understand your problem.

[2016-03-17 14:14] duxthefux commented on #155
@belug23:
I assume you are looking for something like this:
XML-Variant:
Started POST "/issues.xml" for 80.108.208.122 at 2016-03-17 14:12:31 +0000
Processing by IssuesController#create as XML
  Current user: admin (id=1)
Filter chain halted as :find_project rendered or redirected
Completed 404 Not Found in 10ms (ActiveRecord: 0.8ms)

JSON-Variant:
Started POST "/issues.json" for 80.108.208.122 at

[2016-03-17 14:17] belug23 commented on #155
@duxthefux More something like the result of:
    `var_dump($this->post('/issues.xml', $xml->asXML()));`

[2016-03-17 14:17] duxthefux commented on #155
that's easy

"false"

[2016-03-17 14:26] belug23 commented on #155
@duxthefux  Sorry my mistake please use :
`var_dump($xml->asXML());`

[2016-03-17 14:27] duxthefux commented on #155
@belug23

<?xml version="1.0"?>\n
<issue><subject>testest</subject><description>afdfasdasd</description><project_id>4</project_id></issue>\n

[2016-03-17 14:37] belug23 commented on #155
@duxthefux Is that the source or the html rendering? If it's the source there's something wrong with your xml encoder if it's the rendering use the next line to make it printable properly:

`var_dump(htmlentities ($xml->asXML()));`

[2016-03-17 14:39] duxthefux commented on #155
@belug23
that's the output of `var_dump(htmlentities ($xml->asXML()));`
`string(191) "<?xml version="1.0"?> <issue><subject>testest</subject><description>afdfasdasd</description><project_id>4</project_id></issue> "`

[2016-03-17 14:52] belug23 commented on #155
@duxthefux from what I see here, everything is ok from the side of php-redmine-api... looks like a problem on the redmine side not accepting your xml properly.

From here I cannot help anymore and is outside the the subject of this issue.

You should look for help on the redmine issue tracker http://www.redmine.org/projects/redmine/issues

You should use the data I ask for the XML, the redmine log

[2016-03-17 14:58] duxthefux commented on #155
oh man, too bad...I didn't find anything on the internet by now...do have any hint which could help me? missing libraries or whatever?

[2016-03-17 15:09] belug23 commented on #155
I'm not really knowledgeable in ruby and rails, I really cannot help you, except that I don't understand why you don't have the parameters in the log like in mine :

May you could start by why rails cannot read xml... if you have access to a linux you could try  :

`$ curl -v -H "Content-Type: application/xml" -X POST --data "@test.xml"  -u test:testpass https://example.com/issues.xml`

with this

[2016-03-17 16:03] duxthefux commented on #155
the curl gives me a 404 error...

[code]

[2016-03-17 16:05] belug23 commented on #155
So now it's really on the redmine side, did you enable the REST api in admin?

[2016-03-17 19:11] mpreitz commented on #155
@belug23 @kbsali Thanks for the advice, but changing the project_id to the numeric id didn't solved the problem.
In addition the log states:

Line: 2
Position: 195
Last 80 unconsumed characters:
<0>API-Test</0></subject><description><0>a long description blablabla</0></descri
Line: 2
Position: 195
Last 80 unconsumed characters:
<0>API-Test</0></subject><description><0>a long description blablabla<

[2016-03-17 19:46] mpreitz commented on #155
Did a bit more testing.
Ran the following code in a test file:
`$data = array(
    'project_id'  => 24,
    'subject' => 'APITest',
    'description' => 'a long description blablabla',
    'assigned_to_id' => 4
);
$ret = $rm->api('issue')->create($data);

$test = new SimpleXMLElement('<?xml version="1.0"?><issue></issue>');
foreach ($data as $k => $v) {
    $test->addChild($k, $v);
}
var_dump($tes

[2016-03-17 19:53] duxthefux commented on #155
I don't think we have the same problem...i ended up upgrading redmine to the latest version and now it works as expected...i used the version 2.5 which is available in apt-get.

[2016-03-17 19:56] belug23 commented on #155
Good @duxthefux I'm happy you resolved your problem.

@mpreitz I cannot see why the API would do something that strange from what I can see in the master branch,

[2016-03-17 20:07] mpreitz commented on #155
@belug23 I'm also confused. Because of the test without calling the API I would think that the problem is not located in the environment. Because then the output should also be invalid. I've also made diffenrent tests inside Issue.php and placed the generation of XML on various spots to be sure that there is no problem inside sanitizing or "cleanParams". But always the XML that is generated by the

[2016-03-17 20:12] mpreitz commented on #155
OK, found one more hint:
The problem only occurs on PHP7. Tried with 5.6 and XML is generated fine.
Now searching for the different between the two versions.

[2016-03-17 20:26] belug23 commented on #155
@mpreitz that is wierd and I still cannot understand why would the generation would change in php7

[2016-03-17 20:30] mpreitz commented on #155
@belug23 The really weird thing is: why is the "broken" XML only generated inside the class.
To make sure it is no problem with the code of the API I've added the following code to line 121 of Issue.php:
`$xml = new SimpleXMLElement('<?xml version="1.0"?><issue></issue>');
 $xml->addChild('test', 'APITEST');
var_dump($xml->asXML());`
So no code from the API itself is used, but guess what: the outp

[2016-03-19 13:11] mpreitz commented on #155
@belug23 @kbsali The problem is not PHP7. The problem occurs in /lib/Reminde/Api/SimpleXMLElement.php. I havent found the problem yet, but the "Zero"-Tag is added inside the inherited class.

[2016-03-19 13:28] mpreitz commented on #155
@belug23 @kbsali Got it!
In PHP7 the property overloading seems so set the type of the new property to string. But for correct function an numeric value is needed.

Chaging /lib/Redmine/Api/SimpleXMLElement.php Line 21 from
`$node->{0} = $text;`

to
`$node->{intval(0)} = $text;`

will fix this issue and wellformed XML is generated.

[2016-03-19 17:50] kbsali commented on #155
awesome @mpreitz ! Do you want to submit a PR for fixing this?

[2016-03-19 17:53] mpreitz commented on #155
No problem. But give me a day or two to check it in PHP 5.X so this change doesn't break backward compability.

[2016-03-20 19:08] mpreitz commented on #155
@kbsali PR created: #160  . Hopefully everything is fine. It's my first one. ;-)
If everything is fine this issue can be closed.

[2016-03-22 19:21] #155 closed

[2016-05-03 18:37] Detzler commented on #46
retrieveAll says: "Retrieves all the elements of a given endpoint (even if the total number of elements is greater than 100)."

It doesn't do what it should. Please fix

[2016-05-31 16:55] mark9000 opened #162 "Redmine\Api\SimpleXMLElement not working properly with PHP7"
The addChild method in the Redmine\Api\SimpleXMLElement class does not properly in PHP7. The content of "notes" is not longer a string.

Code example:
`$xml = new Redmine\Api\SimpleXMLElement('<?xml version="1.0"?><issue></issue>');
$xml->addChild('notes', 'Hello, world!');
echo $xml->asXml();`
Output with PHP5.6:
`<?xml version="1.0"?>
<issue><notes>Hello, world!</notes></issue>`
Output with PHP7

[2016-06-08 19:52] vmmello opened #163 "Change in issue creation from API with redmine 3.x?"
Hi,

We've been doing issue creation with php-redmine-api and redmine 2.6.x without any issue.

Then we've tried using the same code with redmine 3.2.x and issue creation stopped working when specifying the project_id with the alias name of the project. With 3.2.x it works only if we specify the numeric project_id, otherwise it returns error 500 with:

[code]

I checked redmine changelogs for 3.0.

[2016-06-23 22:13] xl32 commented on #162
It works for me if I change  Redmine\Api\SimpleXMLElement to stub class:

[code]

[2016-06-23 22:19] mark9000 commented on #162
That is the same solution i found!

[2016-06-23 22:43] xl32 commented on #162
Added [pull request](https://github.com/kbsali/php-redmine-api/pull/164)

[2016-06-30 15:48] denkuz08 opened #166 "Losing bytes when downloading files"
I'm losing bytes when trying to download file content.
`$attachmenContent = $redmineApi->api('attachment')->download($attachmentId);`
The problem is in line #620 of Client.php
`$response = trim(curl_exec($curl));`
just change it to
`$response = curl_exec($curl);`

[2016-07-01 07:50] kbsali commented on #166
@denkuz08 don't be shy : open a PR! :+1: :)

[2016-07-01 07:51] kbsali commented on #166
(i could do it myself now that you gave us the hint, but you would not appear as contributor!)

[2016-07-01 10:01] #166 closed

[2016-07-01 12:19] xl32 commented on #162
Pull request #164 is merged, so I think this is fixed now.

[2016-07-01 12:22] kbsali commented on #162
@mark9000 closing as fixed in #164 (please re-open if this is not the case)

Thanks!

[2016-07-01 12:23] #162 closed

[2016-07-06 11:04] funivan commented on #97
Closing due to the timeout.

[2016-07-06 11:04] #97 closed

[2016-07-22 17:16] kiserbd opened #168 "$client->api('issue')->addNoteToIssue() don't return any json or xml response."
Hi there,

$client->api('issue')->addNoteToIssue() on v1.5.9 don't return any json or xml response rather return false after successful add note to the issue. I don't know if i'm doing something wrong or it's a bug!

Thanks.

[2016-09-06 11:10] mpreitz opened #169 "Not possible to set own Curl Options"
I've to use this lib behind a proxy. So it's necessary to set CURLOPT_PROXY.
Tried this directly after initialisation.
[code]
But this didn't work.

Looked into Client.php and found this at Line 497:
[code]
All Options are cleared when preparing a request (Line 500).
This code was commited in 26e372ddd7b0c9a9fde30d19d47a190ab6eaf996

How can I set needed Curl-Options now?

[2016-09-13 14:34] ArnieX opened #170 "Not possible to set custom_fields when creating projects"
Hi,

please fix **project creation script** that it will accept and fill custom fields too. My colleague has fixed it in 1.5.1 version with this code:

[code]

But if I want to update to 1.5.9 it is still not working, please fix it if possible. Because in 1.5.1 I have difficulties with custom_fields on time entries instead, which is working in 1.5.9.

Thanks in advance.

[2016-09-13 14:41] ArnieX opened #171 "Unable to load all time_entry with combination of spent_on and user_id"
Hi,

it is not possible to combine **spent_on** parameter and **user_id** parameter in:

`$client->api('time_entry')->all(array( 'spent_on' => '2016-9-9' ,'user_id' => 9 ,'limit' => 100 ));`

it will ignore **user_id** parameter and do the rest only.

Thank you in advance for possible fix.

[2016-09-14 13:36] rogermartensson opened #172 "retrieveAll without any $params set hits limit"
I'm using a plugin (redissue) that uses Project::getIdByname() to retrieve a Id on a project in Redmine.
But I am hitting a limit on redmine since I have many projects. This limit seems to be 25 entries.

getIdByName() calls listing(). Listing() calls all() if forced or if $this->projects doesn't exists.
all() calls AbstractApi::retrieveAll() with $params set to an empty array when called from lis

[2016-09-15 09:42] kbsali commented on #45
@foxpowa closing as this is veeeeeeery old, ok?

[2016-09-15 09:42] #45 closed

[2016-09-15 11:14] foxpowa commented on #45
Fine ;)

[2016-09-20 18:52] kbsali commented on #168
hi @kiserbd,

sorry for getting back to you so late!
I've checked the code and it returns whatever Redmine API returns... so i'm afraid this is on Redmine's side.
Which version of Redmine are you running?

Thanks

[2016-09-20 19:07] kbsali commented on #171
Hi @ArnieX
unfortunately it is most probably an issue on Redmine' side,
Any parameter you pass to the all() method will be used to query the API.

[2016-09-20 19:07] #171 closed

[2016-09-20 19:12] #170 closed

[2016-09-20 19:12] #169 closed

[2016-09-20 19:17] kbsali commented on #170
@ArnieX please check the latest version i've just released and let me know if your issue is fixed.

thanks

[2016-09-20 19:19] #168 closed

[2016-09-20 19:21] kbsali commented on #169
hi @mpreitz,

could you please test the latest version i've released which should fix this issue.

Thanks

[2016-09-21 09:57] ArnieX commented on #170
Hi,

it does indeed fix this particular issue but isn't working properly when I want to assign project to the user immediately after creating it. This was working with 1.5.1 release. When the project is created I can then assign the project with assign script which assign it by project_id. For assigning it after creating I use identifier like this:

[code]
This is because I do not know the project

[2016-09-21 09:59] ArnieX commented on #171
Hi @kbsali,

thanks. Strange is that when using UI it is possible to combine these two filters and on API it isn't possible but it could very well be issue on Redmine's side, I wouldn't be surprised ;)

BR,

Martin

[2016-09-21 12:05] kbsali commented on #170
Hi @ArnieX ,

unfortunately if the id is not returned by the function, it simply means that the API does not return it! :/
So, yet again, this is most probably related to Redmine itself.

[2016-09-21 13:41] ArnieX commented on #170
Hi @kbsali,

that is something I'm not questioning. The problem is that even-thought now it is possible to create project with custom fields it fails somewhere else, likely in the function I shared which worked with 1.5.1 after the fix from my colleague. I will find exactly where it fails and let you know if it is related to your library or not.

BR,

Martin

[2016-09-21 14:01] kbsali commented on #170
perfect, thanks

[2016-10-01 10:06] Fecny opened #176 "404 error when trying to PUT a new project_"
When a trying to send a new time_entry to a Issue, it die with 404 error from the redmine.

var_dump($client->api('time_entry')->create(array(
        'issue_id' => $task_id,
        'hours' => $taskTime_format,
        'activity_id' => 5,
        'comments' => $client_note,
    )));

[2016-10-31 20:12] parmar84 opened #181 "PUT request remains on subsequent GET requests"
Hi,
(my first github issue so please excuse any amateur behaviour!)

I'm coming across an issue where I can identify a user by name successfully, create an issue successfully but the next user I try to find by name fails (using the same name as the previous successful request).

The calls I'm making (and curloptions set):

[code]

looking at the dump of the of `$this->getCurlOptions()` the PUT xml

[2016-11-11 09:09] danb1974 opened #182 "prepareRequest does not clear curl method and argument options between calls, leading to strange errors on next request"
Some curl options that are only set for certain types of requests, are not cleared on next request, leading to various strange errors. For example after a PUT, the next GET will use PUT as protocol and pass previous request data.

A quick fix is attached, just to get an ideea of the issue.

[Client.php.diff.txt](https://github.com/kbsali/php-redmine-api/files/585389/Client.php.diff.txt)

[2016-11-11 18:23] kbsali commented on #181
hi @parmar84,

thanks for reporting this, i was going to try and fix this over the weekend, but i believe we are in luck : @danb1974 has opened a similar issue and provide a possible fix.

I'll keep you posted!

[2016-11-11 18:24] kbsali commented on #182
hi @danb1974 ,

thanks for reporting the issue (which has been reported by another user last week!).
And thanks for the patch! how about opening a PR instead?

thanks

[2016-11-11 22:55] kbsali commented on #182
fixed

[2016-11-11 22:56] kbsali commented on #181
@parmar84 could you confirm @danb1974 PR fixes your issue

[2016-11-11 22:57] #182 closed

[2016-11-14 11:04] parmar84 commented on #181
Confirmed, fixed!

[2016-11-14 11:04] #181 closed

[2016-11-14 11:33] kbsali commented on #181
awesome! thanks again @danb1974 !

[2016-11-22 16:10] akvamarion opened #185 "Notice: Array to string conversion on create issue relation"
$client->issue_relation->create(
                2,
                [
                    'issue_to_id' => 1
                ]
            );

error: Notice: Array to string conversion  (Client.php line 573 )

[2016-11-22 16:26] JanisE opened #186 "Is is possible to add watchers to an existing issue?"
Watchers are added all right to a new issue upon its creation (`$client->issue->create`), but no watchers get added if I try the same with `$client->issue->update`. Is this a restriction of php-redmine-api or the Redmine API itself?

[2016-11-22 20:40] kbsali commented on #186
according to the doc, it seems like you can indeed only add watchers on new issues  : http://www.redmine.org/projects/redmine/wiki/Rest_Issues#Updating-an-issue

[2016-11-22 21:06] JanisE commented on #186
Thank you for the pointer! Although, the doc seems to be a bit vague on the issue as they are using a "..." in the list of supported issue parameters for update (not so for create). :)

[2016-11-22 21:06] #186 closed

[2016-11-30 12:16] Sohorev opened #187 "IssueRelation does not work?"
[code]

PHP Notice:  Array to string conversion in /home/sohorev/workspace/redmine/vendor/kbsali/redmine-api/lib/Redmine/Client.php on line 573

Notice: Array to string conversion in /home/sohorev/workspace/redmine/vendor/kbsali/redmine-api/lib/Redmine/Client.php on line 573

[2016-11-30 13:08] Art4 commented on #187
In https://github.com/kbsali/php-redmine-api/blob/master/lib/Redmine/Api/IssueRelation.php#L86 `$params` is an array, but it must be a (JSON) string.

Can you please test if this works:

[code]

[2016-12-01 02:58] Sohorev commented on #187
It work normally without php notice, result ok:

[code]

[2016-12-01 02:58] #187 closed

[2016-12-01 03:03] Sohorev commented on #187
thankyou!

[2016-12-01 05:56] Sohorev opened #188 "time_entry does not use the passed parameters"
[code]
$times contains absolutely all times of all projects ([limit] => 25, [total_count] => 14921)

[2016-12-01 06:37] Art4 commented on #187
You're welcome. It would be great if you would open a pull request for this fix.

[2016-12-01 07:01] Sohorev commented on #187
https://github.com/kbsali/php-redmine-api/pull/189

[2016-12-01 21:28] Detzler opened #190 "Custom host in curl header"
Hi,

it's not possible to set a custom Host in Header via:

[code]

By the way. it's not possible to set any other custom curl headers like this way coz they are overriden in Client::prepareRequest

[2016-12-12 17:28] smoench commented on #163
@vmmello this has been fixed http://www.redmine.org/issues/23766 (redmine 3.3.1)

[2016-12-12 21:52] vmmello commented on #163
@smoench thanks for letting me know!

[2016-12-12 21:52] #163 closed

[2016-12-16 17:23] chaevnicher opened #191 "set issue cutom field value"
How I can set value of issue custom field?

[2016-12-19 12:20] chaevnicher commented on #191
[code]

[2016-12-19 12:22] #191 closed

[2017-01-13 14:35] ArnieX opened #192 "Closing project"
Hi @kbsali,

is it possible somehow change project's status? I'm trying to close project, but unfortunately it doesn't do anything when I call:

[code]

$closing is true after the call, but status doesn't change.

**Update:** With 1.5.11 it returns false

Any ideas?

Thanks,

Martin

[2017-02-03 09:25] Pilgrim-86 opened #193 "Create/Update Issue with a multiselect custom_field"
Hello,
I would like to now if it's possible to create an issue or update one, where one of the custom_fields is a multiselect field. The problem is that when I try to create an issue with this multiselect custom_field, the ticket is being created but the value of this field is still empty.
Does somebody now how to pass the value of this field to the create method from Issue class?
Thanks for helpi

[2017-02-04 10:05] ftrojahn commented on #176
Just pulled my hair about this one, too. If the $client object isn't destroyed between curl calls,
curl options aren't reset, so after e.g. a delete call, all subsequent create calls fail as
CURLOPT_CUSTOMREQUEST is set to 'DELETE'.

In a3c8846 this has been fixed, but i don't know why @kbsali hasn't done a release since then.

So, installing via composer, I get the old, unfixed behaviour. Instead

[2017-02-06 20:40] kbsali commented on #176
sorry about that, i'll issue a new release right now.

[2017-02-06 20:43] kbsali commented on #176
done! @Fecny & @ftrojahn could you confirm this fixed the issue?

[2017-02-06 20:45] #46 closed

[2017-02-06 20:47] #61 closed

[2017-02-06 21:05] ftrojahn commented on #176
Yes my problem was fixed by this patch.
--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2017-02-06 21:17] kbsali commented on #176
great! Thanks @ftrojahn and sorry again about the missed release.

[2017-02-06 21:17] #176 closed

[2017-02-06 21:20] kbsali commented on #190
i have added a setCustomHost() method,
please give it a try.

[2017-02-06 21:20] #190 closed

[2017-02-21 20:17] ftrojahn opened #195 "make params available for project->show()"
Needed to get the 'enabled_modules' from a project.

The show() function is missing the $params argument.

[2017-03-07 02:02] parmar84 commented on #185
I think #197 PR should fix this (after I've fixed the tests!)

[2017-03-21 10:47] delatbabel opened #198 "adding an attachment to a wiki page"
Is it possible via this library to add an attachment to a wiki page?

I have looked through the functions in Wiki.php and there isn't an equivalent to adding an attachment to an issue.  Also the Redmine REST API documentation only gives an example of doing it directly via JSON but this library uses the XML not JSON API.

I have tried expanding the Wiki.php create() function but nothing I try seems

[2017-04-10 06:06] adamhesim commented on #155
Hello,
I got the exact same issue but it doesn't seems to come from your code : even with the proper command-line curl, i got this _'Filter chain halted as :find_project rendered or redirected, 404 ...'_.
Could you please have a look to my curl and tell me if something is wrong (if not, i guess the bug is on my Redmine instance (Debian Jessie package v3.0) ?

`curl -X POST -d @test.xml -o test --h

[2017-04-20 16:17] spin0us commented on #115
You can add a filter in the search like this
`public function getIdByUsername($username, array $params = [])
    {
        $params['name'] = $username;
        $arr = $this->listing(true, $params);
        if (!isset($arr[$username])) {
            return false;
        }

        return $arr[(string) $username];
    }`

[2017-04-24 07:04] kbsali commented on #115
thanks  @spin0us for your solution :+1: ,
@Henry31 if you are ok with this, please close the issue! :)

[2017-04-24 14:16] algorys commented on #172
@rogermartensson I came across your ticket by chance :wink:

I think it concerns rather the plugin `redissue` cause it's not `php-redmine-api` blame.

[2017-04-30 07:16] Henry31 commented on #115
Hi,

I didn´t work on this topic anymore. But also thanks to @spin0us for this solution. Hopefully, this will help other people :)

So I´m okay with that 👍

[2017-05-01 16:31] #115 closed

[2017-05-02 13:54] sadiq-mc opened #200 "Unable to create an issue"
I had developed a mail reading php application which was working till last month. The application completes its execution without any failure.
But, now it seems that the php application can't create new issues.
The current redmine version is 3.2.1 and installed php is php7.

Can you please look into this issue..?

[2017-05-02 16:22] sadiq-mc commented on #200
Resolved it..

The issues were:
1. The ```project_id```should be Id (int) and not text.
2. The ```tracker_id``` is required.
3. The ```status_id``` is required.

[2017-05-02 16:22] #200 closed

[2017-05-14 17:22] orlitzky opened #201 "Some important files dropped from the releases"
Hello, while trying to upgrade the Gentoo package for php-redmine-api, I noticed that some of the files we usually install have gone missing from the releases. This is due to the `.gitattributes` file, so I know it was intentional, but I'd like to ask you to please bring some of them back =)

These are all useful to an end-user:

[code]

We run the tests before installing the package, to ensure th

[2017-05-14 20:22] Art4 commented on #201
I'm with you for the `README.markdown` as a minimal documentation or reference to the source code. But personally I'm against the other files for this reasons:

1. You should use the source code in your case, not the dist code.
2. The dists (tarballs) are for projects/libraries that builds on this library. They don't need the tests, example.php, etc and save traffic and time without these files.
3

[2017-05-14 21:08] orlitzky commented on #201
Who is `example.php` for then, if not for the authors of the projects and libraries that build on php-redmine-api?

Likewise: I use php-redmine-api for a project of mine. When I install it, I want to run the tests, because I want to be sure that it works on my machine (with my version of PHP, with the other libraries on my system, etc.)

It's always easier for the people who don't want those thing

[2017-05-14 21:34] Art4 commented on #201
I don't know your workflow for a Gento package, but my workflow for a PHP project works like this:

I'm using Composer for dependency management. To develop my project I'm installing php-redmine-api from source with `--prefer-source`. This clones php-redmine-api into my vendor folder. This way I can run the tests to be sure that it works on my machine. Than I can use the example.php for the develo

[2017-05-24 10:26] kbsali commented on #201
sorry, not very reactive those days! :/

I really don't mind putting those files back in the repo... not sure if we should include them ALL though?

As usual huge thanks to @Art4 for taking the time to answer clearly!

@orlitzky, does @Art4 's answer work for you?

[2017-05-24 11:34] Art4 commented on #201
I've dived deeper into your issue and the Gentoo package building process. This is all new to me, but I've found some interesting points.

I've found your Gentoo package (https://packages.gentoo.org/packages/dev-php/php-redmine-api) and I understand that you have an ebuild file (https://gitweb.gentoo.org/repo/gentoo.git/tree/dev-php/php-redmine-api/php-redmine-api-1.5.9.ebuild) for your build proc

[2017-05-24 19:24] orlitzky commented on #201
@Art4's last comment is correct and is what I'll have to do if the tests and documentation remain absent from the tarball releases. However, there are a number of non-obvious downsides to that approach (from my first comment):

* End users may not have git installed, and requiring them to do so brings in a lot of stuff they don't need/want.
* I can't digitally sign a "git clone" like I can the sha

[2017-05-25 19:36] livioweb opened #204 "Return all closed tasks of the day"
I'm having trouble doing this query
[code]

Never returns closed tasks only for the day, always returns all closed

        `http://localhost/issues.json?limit=1&assigned_to_id=16&status_id=5&updated_on=2017-05-23`

So in redmine itself it works, but in this code it does not

Can you help me?

[2017-05-27 13:09] #204 closed

[2017-05-29 09:32] kbsali commented on #204
@livioweb found your own answer? :)

[2017-05-29 09:34] kbsali commented on #201
@orlitzky i really don't mind getting rid of the gitattributes to be honnest, i was just trying to follow the good practices... but the "gain" is minimal.

@Art4 what do you say? :)

[2017-05-29 09:41] Art4 commented on #201
The upsites of the `.gitattribute` don't weight as much as the downsites for @orlitzky. It's not his fault that the Gentoo build process isn't as flexible as needed.

The good practice of the `.gitattributes` doesn't cover use cases out of composer/PHP, so I would go with @orlitzky's suggestion and drop the files from `.gitattribute`.

[2017-05-29 10:02] kbsali commented on #201
@Art4 the "weight gain" is so small for that project that this argument is not really relevant (although true! :) ).
Ok i'll remove them!

[2017-05-29 10:07] kbsali commented on #201
@orlitzky done (https://github.com/kbsali/php-redmine-api/releases)

[2017-05-29 10:07] #201 closed

[2017-05-29 11:27] livioweb commented on #204
yes man,
[code]

[2017-05-29 11:39] kbsali commented on #204
:+1:

[2017-05-31 14:15] orlitzky commented on #201
Thanks guys. I ran into some more trouble with the version bump from commit 83e46c2e3, but this will make things easier for me.

[2017-11-08 11:43] popnikos commented on #193
May be you can take a look into those methods
Redmine\Api\Issue.php for method `buildXML`
[code]
Redmine\Api\AbstractApi.php and `addCustomFields`
[code]

[2017-12-21 13:48] vikaschauhan1 commented on #54
Just use htmlspecialchars in secod parameter i.e
replace $xml->addChild($k, $v ) with $xml->addChild($k, htmlspecialchars($v) );

[2017-12-21 14:32] srhogg opened #210 "Making an issue private"
I don't seem to find if it is possible to make an issue private via the PHP API.  I see this is in the Redmine API, and in other wrappers.

Thanks.

[2018-01-02 13:39] Art4 commented on #210
Try this:

[code]

[2018-01-04 08:24] srhogg commented on #210
This works perfectly...thanks!!

[2018-01-04 08:24] #210 closed

[2018-01-15 08:25] andrii-trush opened #212 "Search open issue by title."
Hello. I'm using this api for reporting issues abour all errors from my framework error handler.

So the same error can be tracked several times. How can i check if issue exist by title and status?

[2018-01-18 12:08] DanieliMi opened #213 "Escape special characters when preparing XML"
Hi,
i'm using the api mainly for creating projects. It would be nice if special characters would be escaped when preparing XML.

Project.php  line 154

Greetings Daniel

[2018-01-18 15:22] kbsali commented on #213
Hi @DanieliMi ,

don't be shy : fork the repository, apply the changes you may need, and open up a Pull Request!
Chances are that I will end up merging it short after! (should the change be useful! ;) )

[2018-01-18 16:21] DanieliMi commented on #213
@kbsali Thank you for the quick reply.
I am thinking about using `sanitizeParams()` for it and apply `htmlspecialchars()` on the values.
Would you agree with this solution?

[2018-01-19 10:11] kbsali commented on #212
check the example.php file please
[code]
But I believe the Redmine api does not support search by title though...

[2018-01-19 10:11] #212 closed

[2018-01-19 11:11] kbsali commented on #213
@DanieliMi why not, make sure the tests pass (or add/update them if needed),
we can then ask the main contributors about the proposal.

[2018-01-23 09:13] 0xzmz opened #214 "Can't remove a issue?"
When I code like
`$client->issue->remove(8)`
it shows  "String could not be parsed as XML",and does delete a issue.

[2018-02-16 13:36] amenk opened #215 "Can we throw an exception if the request goes wrong?"
https://github.com/kbsali/php-redmine-api/blob/master/lib/Redmine/Client.php#L640

[2018-04-11 16:37] michael-delle opened #216 "Updating custom fields in Versions"
We can update **issue** custom fields but not **version** custom fields.

Error: SimpleXMLElement::addChild() expects parameter 2 to be string, array given

[2018-07-12 08:33] manishjaingit opened #217 "can we read comments from the issue?"
I am looking forward to reading comments via Rest API if somebody can help me to read it or guide me about the url of getting comments, so please help..

[2018-07-12 12:13] kbsali commented on #217
You should check this on Redmine's doc : http://www.redmine.org/projects/redmine/wiki/Rest_Issues
But it looks like they do not expose this information.

[2018-07-12 12:13] kbsali commented on #217
You should check this on Redmine's doc : http://www.redmine.org/projects/redmine/wiki/Rest_Issues
But it looks like they do not expose this information.

[2018-07-12 12:13] #217 closed

[2018-09-24 11:15] nadavkav opened #218 "Error initiating with composer"
Running: "php composer.phar require kbsali/redmine-api:~1.0"
I get the following errors:

[code]

Looking at:
https://packagist.org/packages/kbsali/redmine-api
I eventually "solved" it by running:
"php composer.phar require kbsali/redmine-api:dev-master"

I guess the readme should be updated to latest stable version?
What do you think?

[2018-10-09 09:05] kbsali commented on #218
sorry for the VERY late answer, i've given it a try myself and it worked :
[code]
Could you try that?

[2018-10-13 16:51] nadavkav commented on #218
Thank you. you are correct. I was not running it properly.
(btw, great api, thanks!)

[2018-10-13 16:51] #218 closed

[2018-10-14 18:42] kbsali commented on #218
thanks! :)

[2019-01-17 21:17] rps-repo opened #221 "No author_id for create issue"
When creating an issue via API there is no parameter to set the author id.  At least in the 3.x branch.
Issue.php has author_id set in the defaults array.
The author will be whomever the API key belongs to that is used to create the issue.

[2019-03-15 14:25] zglurb opened #227 "\Redmine\Api\Attachment::upload doesn't accept file content as parameter"
It seems like the behavior of this method changed recently. It used to ask for the file content as a parameter, now it seems to ask for a path?

While debugging to find the issue, I also found an issue in this method :

[code]

There should be parentheses around  `'/uploads.json' === $path || '/uploads.xml' === $path`.

As a result, I have this error while trying to call \Redmine\Api\Attachment::u

[2019-03-15 17:37] #227 closed

[2019-03-15 17:40] kbsali commented on #227
@zglurb thanks for reporting, I have applied your proposed solution, let me know if it does indeed fix the issue! :)

[2019-03-21 14:28] zglurb commented on #227
Unfortunately, it didn't fix our issue.

It seems like `is_file()` (line 605) doesn't accept strings that aren't valid paths either. I would expect it to just return `false` but it crashes instead. At least when `$data` contains binary like an image.

Should I adapt the way I used to call `\Redmine\Api\Attachment::upload` and pass a filename?

[2019-04-03 11:38] kbsali commented on #227
sorry for the late answer. I am not using this lib anymore on a daily basis. If you find a work around or can think of a proper fix, please don't hesitate to share your solution (or even better to open a Pull Request! :)).

[2019-05-22 15:08] babiinazar opened #230 "Composer requirements php7.2"
Hello
Why you upgrade composer require php version to 7.0 => 7.2?
If this not critical for you please update composer:
"php": "^5.4 || ^7.2" => "php": "^5.4 || ~7.3"

Thank you!

[2019-06-15 16:56] atuljoshi opened #231 "All the put method returns false response with status code 200"
I am updating issue with xml as follows -

`<?xml version="1.0"?>
<issue><id>310</id><subject>Testing redmine API</subject><priority_id>2</priority_id><status_id>1</status_id><tracker_id>1</tracker_id><assigned_to_id>12</assigned_to_id><due_date>2019-06-13</due_date><project_id>8</project_id><start_date>2018-10-24</start_date><created_on>2019-06-14T07:19:30Z</created_on><updated_on>2019-06-14T07:1

[2019-06-15 16:57] atuljoshi commented on #231
I tried put method for versions as well but it is also having same response.

[2019-07-15 14:27] emilianosce commented on #221
That's right, the author will be whomever the api key belongs to. What I think you can do is using the User Impersonation method in order to create those issues.
`$client->setImpersonateUser('not_me');`
Next calls should be created (with author id) by the user 'not_me'.
When you're done making calls with that user, you use
`$client->setImpersonateUser(null);`
Hope it works!

[2019-07-15 14:29] emilianosce commented on #215
We can use the lastCallFailed() method to check if the request went right or wrong, I use it when creating a project or an issue. Its syntax should be something like this, for example in creating a project:
[code]
Hope it works!

[2019-08-14 09:02] shuniada opened #232 "Get issue id in response to creating a new issue"
When creating an issue via API how can I get id of that issue?

[2019-08-14 16:42] Detzler opened #233 "Create time entry fails due simplexml entity error"
Can not create/update a time entry which contains xml entities in comments field:

[code]

`SimpleXMLElement::addChild(): unterminated entity reference`

[2019-09-03 12:31] kbsali commented on #232
It seems you cannot get it from the POST call : http://www.redmine.org/projects/redmine/wiki/Rest_Issues

So you might want to directly do a GET /issues right after your POST

And I'm sorry but I have not time to work on this project anymore. I might ask the little community of active users to maintain it.

[2019-12-17 14:55] rodskin opened #238 "Read an issue notes"
Is there a way to get notes (public and private) for each issue and who posted them?
like
``` $issue = $client->api('issue')->show($issueId, array('include' => 'notes'));```

[2019-12-17 15:00] rodskin commented on #238
auto answering:
can be found in
$issue = $client->api('issue')->show($ticket['id'], array('include' => 'journals'));

[2019-12-18 16:59] kbsali commented on #238
@rodskin i'll go ahead and close the issue then! :)

[2019-12-18 16:59] #238 closed

[2020-01-25 20:35] rogermartensson commented on #172
I'm closing my issue since it's too old.

[2020-01-25 20:35] #172 closed

[2020-04-01 07:26] ahoeg opened #239 "Change project custom field value"
Hi,

I try to change a project custom field value:
[code]

Change name works fine, but custom fields is ignored without an error. Any idea why?

Thanks!

[2020-04-01 07:52] ahoeg commented on #239
Looks like a bug
[code]

[2020-04-01 08:02] ahoeg commented on #239
Fixed... Need TWO arrays...
[code]

[2020-04-01 08:02] #239 closed

[2020-04-01 11:23] ahoeg opened #240 "Get project by identifier (field)?"
Hi,
is it possible to get a project by identifier instead of name or id?

[2020-04-01 13:06] ahoeg commented on #240
identifier isn't unique and is in conflict with project ids.
To fix it project identifiers need to be changed :(

I close the issue. Should work fine!

[2020-04-01 13:06] #240 closed

[2020-04-13 16:05] mghaderi opened #241 "Add note to issue with attachment"
is there a way to add note with attachment to an existing issue ?

[2020-04-17 13:24] smlabonia opened #242 "Authentication mode User Attribute"
Could you please help me to add the Authentication mode User Attribute? I need to create users from LDAP and set this particular attribute to them.

Thanks!

[2020-04-18 10:46] #241 closed

[2020-08-06 11:12] sscotter opened #245 "Update README.markdown. assigned_to should be assigned_to_id"
Hi,

I've been struggling to get issues assigned to users or groups using the example in README.markdown

[code]

The issue is created but the the assignee is unpopulated.

I checked the Redmine documentation at https://www.redmine.org/projects/redmine/wiki/Rest_Issues and noticed they're saying use assigned_to_id.

I looked at the history (https://www.redmine.org/projects/redmine/wiki/Rest_Issues

[2020-08-07 08:00] kbsali commented on #245
ok, interesting. As you may have realized checking the history, this project is not actively maintained anymore,
maybe we could simply send both parameters

[2020-08-07 10:02] kbsali commented on #245
I just double checked the code, and `assigned_to` gets converted to `'assigned_to_id', so if the username you used is correct, it should have worked.
I have updated the docs to make it clearer that both options work

[2020-08-07 12:09] #245 closed

[2020-08-07 12:11] kbsali commented on #242
sorry, no idea how this works, and this is only an api client library.
Your question seems to be out of this library's scope.
See https://www.redmine.org/projects/redmine/wiki/redmineldap

[2020-08-07 12:11] #242 closed

[2020-08-08 18:21] kbsali commented on #221
@rps-repo I hope @emilianosce 's answer worked for you.
I'm cleaning the list of issues (which, as you probably realized, has been abandoned :/).

I take the opportunity to let you know that I am looking for maintainers to take back this repository. If you are interested let me know.
Thanks.

[2020-08-08 18:21] #221 closed

[2020-08-08 18:22] #103 closed

[2020-09-13 15:25] bipinraut opened #247 "Debian Installation - Unable to locate package monitoring-to-redmine-notify"
Debian Installation giving problem :
Please check below logs

**wget -O - http://v.s.cz/info@vitexsoftware.cz.gpg.key|sudo apt-key add -**

--2020-09-13 15:22:43--  http://v.s.cz/info@vitexsoftware.cz.gpg.key
Resolving v.s.cz (v.s.cz)... 213.151.89.97, 2001:4de8:f001::d32
Connecting to v.s.cz (v.s.cz)|213.151.89.97|:80... connected.
HTTP request sent, awaiting response... 404 Not Found
2020-09-13

[2020-09-15 11:13] kbsali commented on #247
sorry, I'm not aware of a deb package available for this lib, but if there is one you should contact its maintainer

[2020-09-15 11:13] #247 closed

[2020-09-15 11:23] bipinraut commented on #247
Thank you very much for responding, i have manage to install via manual installation, but now i am having other problem,
inside service-notify-redmine.php i see only Icinga\Notifier nothing for nagios how do i configure this script for nations ?
when i am running this script it says below logs
 $> php service-notify-redmine.php
Set ICINGA_CONTACTADDRESS1 enviroment variable to Redmine URL  http://

[2020-10-06 09:42] #195 closed

[2020-11-03 14:58] klodoma opened #253 "Uncaught Exception: HTTP/2 stream 0 was not closed cleanly"
I get this error while trying to upload something

[code]

The solution is:

[code]

[2020-11-07 21:56] kbsali commented on #253
fixed in #254

[2020-11-07 21:56] #253 closed

[2020-12-18 02:07] orlitzky commented on #230
We're up to php-8.x now. Please also support a modern version of PHPUnit. The latest supported phpunit-6.0 is several years old, out of support, and broken with newer versions of PHP itself.

[2021-03-18 10:39] nguyenthemanh2601 opened #256 "runRequest return empty message"
I am try to login to redmine.
But when i call: (new Redmine\Client(env('URL_REDMINE'), $username, $password))->->user->getCurrentUser();

an empty exception have been display

With $path = /users/current.json?include=memberships%2Cgroups pass by Redmine\Api\User->show(),
curl_errno($curl) on runRequest method is 3, but curl_error($curl) is empty.

It is CURLE_URL_MALFORMAT error, but $path is defa

[2021-03-19 14:00] Art4 commented on #256
Hey, I can't reproduce this on my machine. The `$path` is correct and returns the correct data.

Please make sure that `env('URL_REDMINE')` will return a valid url without a trailing slash (`/`).

[2021-03-19 15:25] #233 closed

[2021-03-19 15:26] kbsali commented on #233
@Detzler , you hopefully found a work around your issue back in ... 2019 :grimacing:
but thanks to @Art4 it is now fixed! :tada:

[2021-03-19 15:42] Art4 commented on #233
A workaround would be to use `htmlspecialchars()` on the input before set them to `->create()`.

[2021-03-23 07:54] Art4 commented on #230
In a next release there will be PHP 7.4 required.

@kbsali I think, this can be closed.

[2021-03-23 09:16] kbsali commented on #230
thanks @Art4
The issues definitely need some attention! :grimacing:

[2021-03-23 09:16] #230 closed

[2021-03-23 10:53] Art4 commented on #106
I've investigated in this issue. With Redmine 4.1.1 and php-redmine-api 1.7.0 the request will return a `204 No Content` response. In the issue the `changed at` updated and a new comment was set.

What ever causes this issue in 2015: I think that this has been solved on the Redmine side and was not an issue with this library.

[2021-03-23 10:54] Art4 commented on #230
If you like you can give me the rights for triage and tag the issues.

[2021-03-23 11:05] Art4 commented on #120
As @adamgieron said this can already be done with:

[code]

[2021-03-23 11:47] Art4 commented on #127
I've tested this feature with Redmine 4.1.1:

[code]

Worked like expected. @kbsali This can be closed.

[2021-03-23 12:03] Art4 commented on #146
Switching to JSON for all API would need a whole rewrite of all APIs as well as the parameter handling. If someone would take the time for a PR this would be awesome.

As a workaround I would recommend simply parse the SimpleXML to JSON with `json_encode`:

[code]

[2021-03-23 12:19] Art4 commented on #185
I can confirm that this issue is fixed and can be closed.

[2021-03-23 12:24] Art4 commented on #188
I can not reproduce this with Redmine 4.1.1 The response has the correct `total_count` and `time_entries`.

I assume that this was an issue with Redmine but not with php-redmine-api. @kbsali This can be closed.

[2021-03-23 12:35] Art4 commented on #192
Closing/Archive a project is not implemented in Redmine API, see https://www.redmine.org/issues/13725

If this would be possible, your code should work.

[code]

[2021-03-23 14:29] #106 closed

[2021-03-23 14:30] #120 closed

[2021-03-23 14:31] #127 closed

[2021-03-23 14:31] #185 closed

[2021-03-23 14:32] #188 closed

[2021-03-23 15:06] Art4 commented on #214
If I run `$client->getApi('issue')->remove(17);` now with v1.7.0 I get a `204 No Content` response and the issue is deleted. No warning is shown. I think this has been fixed.

[2021-03-23 15:06] #214 closed

[2021-03-23 15:17] Art4 commented on #193
Assuming I have 3 custom_fields for an issue: `foo`, `bar` and `baz`
You can set or update the custom fields of an issue like this:

[code]
This will set the 'bar' and `baz` fields. Every other field will be removed/deselected.

[2021-03-23 15:17] #193 closed

[2021-03-23 15:38] Art4 commented on #198
Please see the Redmine docs for more details: https://www.redmine.org/projects/redmine/wiki/Rest_WikiPages#Attaching-files

Files have to be upload first and will return a token. This token must then be set to the wiki update method.

[code]

[2021-03-23 15:38] #198 closed

[2021-03-24 07:56] Art4 commented on #215
With v1.7.0 there is a new `Psr18Client`. This client uses any [PSR-18](https://www.php-fig.org/psr/psr-18/) compatible client where Exceptions will thrown if the request fails. Please note that "response status codes in the 400 and 500 range MUST NOT cause an exception and MUST be returned to the Calling Library as normal." You have to check for 400 and 500 status code in your code.

[code]

[2021-03-24 07:56] #215 closed

[2021-03-24 08:05] Art4 commented on #216
This is possible and with v1.7.0 there is no Error shown. Try it like this:

[code]

[2021-03-24 08:05] #216 closed

[2021-03-24 08:10] Art4 commented on #231
I can't test this because there are some information about the request missing. Could you please provide a code example how you call the library?

Beside that: you can always get the response status code of the last request with `$client->getLastResponseStatusCode()`. This code is the status code that comes from the Redmine server. You should use this code instead of rely on the return of a $clien

[2021-03-24 08:22] Art4 commented on #232
You can read the ID from the response.

[code]

[2021-03-24 08:22] #232 closed

[2021-04-05 14:18] hartois opened #263 "Create/Update group with custom_fields"
Hello, please add feature for setting custom_fields in Group on create/update such as in User

[2021-04-05 21:23] Art4 commented on #263
Hey, this feature has no details in Redmine documentation: http://www.redmine.org/projects/redmine/wiki/Rest_Groups#PUT

If someone can figure out how the API works we would be happy about more information or a PR.

[2021-04-06 11:28] hartois commented on #263
It's work same as in User:
curl -H "Content-Type: application/json" -X POST -H 'X-Redmine-API-Key: <API_KEY>' --data-raw '{"group":{"name":"test3","custom_fields":[{"id":2,"value":"testvalue"}]}}' http://redmine.local/groups.json

will create group with custom field of id 2, value - "testvalue"

[2021-04-06 14:08] kbsali commented on #263
@hartois if it is similar to the User API, how about proposing a pull request with the changes you are after? :)
Thanks!

[2021-04-06 20:18] Art4 commented on #263
@hartois You can start with extending the `Group` class and implement the missing feature. If you are sure that it works you can post it here or create a pull request and we will be happy to merge it.

[code]

[2021-04-07 09:44] Commifreak opened #264 "Uploads: is_file(): File name is longer than the maximum allowed path length on this platform (4096)"
When I try to upload binary files, I get the message:

[code]

Stack:
[code]

is_file seems to not be liking the raw content??

Any ideas?

Using: v1.7.0

[2021-04-07 12:35] Commifreak commented on #264
It turns out, that ->upload does not take the CONTENT or any DATA!
It has to be the FILEPATH! That isnt well documented...

[2021-04-20 08:09] Art4 commented on #264
Hey @Commifreak thank you for this issue.

The `upload()` method could be a path or the data. `is_file()` is using to determine between a content and a filepath. But the error shows, that `is_file()` throws an error if the content is to large.

See https://www.php.net/manual/en/function.is-file.php

So we should find a way to check for content or filepath in better way. I reopen this issue as a bu

[2021-04-21 06:54] pde159 opened #267 "The function 'getIdByUsername' return 'false' for some users."
Hello,

The function 'getIdByUsername' return 'false' for some users.

I see this function calling the 'listing' function to retrieve all users but this one is limited to 25.
Then, it explain why some users are not available via 'getIdByUsername'.

So I tried to use the function like this :

[code]

but this has no effect ...

So my actual workaround is to add in `src/Redmine/Api/User.php` a line

[2021-04-21 10:59] Art4 commented on #267
The user API class has a built-in cache for retrieved users. If your first calls `listing()` then the cache will be filled up with this result. Then when you call `getIdByUsername('myusername', ['limit' => 100,'offset' => 0]));` the method will ignore the params and will only return the cache.

This said you should first rebuild the user cache with the needed params and after that call `getIdByUse

[2021-04-22 12:50] pde159 commented on #267
hello @Art4 ,

Great, thank you for the help. i'm gonna try this as soon as possible.
I was already migrating my code with new NativeClient syntax but it is for a next release of my product ;)

[2021-04-24 21:25] iammati opened #270 "Markdown parser or parsed HTML available?"
Hey there,

is there an option when using the issue-api a way to render the description of an issue directly its parsed HTML or get somehow redmine's markdown parser?

[2021-04-25 13:32] iammati commented on #270
Nevermind, found the parser here https://github.com/markdown-it/markdown-it

[2021-04-25 13:32] #270 closed

[2021-05-19 09:03] phansys opened #274 "Changes made in #257 introduces a BC break"
Changes made in [#257](https://github.com/kbsali/php-redmine-api/pull/257/files#diff-a0d92f5dcb3b7fa15b6523c906ed0ad089ba350c1aa9d6cb36a011143fd246c8R66) introduces a BC break in the return value of [`AbstractApi::get()`](https://github.com/kbsali/php-redmine-api/pull/257/files#diff-a0d92f5dcb3b7fa15b6523c906ed0ad089ba350c1aa9d6cb36a011143fd246c8R47).
Prior to these changes, if the response body w

[2021-05-20 16:50] kbsali commented on #274
Thanks for reporting AND proposing a fix @phansys !
I will let @Art4 decide what to do about it! :)

[2021-05-22 09:13] Art4 commented on #274
@phansys Thank you for your finding and your PR. The issue seems valid and I'll look into this.

A note about the missing exceptions for HTTP status codes.

I would recommend to always check the HTTP response code instead of exceptions. You can use `$client->getLastResponseStatusCode()`.

This is also the recommended way in PSR-18, see https://www.php-fig.org/psr/psr-18/meta/

[2021-05-26 16:36] Gandhi11 opened #277 "There is a default limit set even I use the retrieveAll method."
It looks like there is a default limit set even I use the retrieveAll method with the AbstractAPI.

For example
`$projects = $this->Client->getApi('project')->all();`

There will be a limit of 25 in the projects. I need the pass a param like `['limit' => 999]`. But the thing is, even with a limit like that the code is maxing out the limit to 100 in the retrieveAll method in the AbstractAPI class.

[2021-05-27 17:18] Art4 commented on #277
You can simply use `['limit' => 999]` it should work as expected.

`AbstractApi::retreiveAll()` splits a call with a limit > 100 into multiple calls with a max limit of 100 each. The reason is that the Redmine API allows a max limit for 100. See https://www.redmine.org/projects/redmine/wiki/Rest_api#Collection-resources-and-pagination

See also #35.

I hope this will answer your question.

[2021-05-27 17:21] Art4 commented on #231
This issue is inactive for a while. I hope you have found an answer to your question. I will close this issue. Feel free to reopen if you have more details.

[2021-05-27 17:21] #231 closed

[2021-05-28 19:44] Gandhi11 commented on #277
Ok I understand,

But why if I do something like

`$projects = $this->Client->getApi('project')->all();`

I got a maximum of 25 projects. We really need to pass a `['limit' => 999]` param? Isn't that odd?

[2021-05-28 20:05] Art4 commented on #277
I understand what you mean. Fetching all projects, issues, users, etc could end in a large amount of requests and data. I think it should be requested explicit by adding the limit parameter.

One could argue that `->all()` is a bad name for the method and should rename into a more appropriate method like `->list()`. That would be an enhancement.

[2021-05-28 20:11] Gandhi11 commented on #277
Yes I agree with you. `->all()` should be renamed to `->list()`.

If possible `->all()` should really retrieve all the data even if it's ending with a large amount of requests.

What do you think?

[2021-06-01 07:00] npotier opened #278 "Issue with http methods in lowercase"
Hi, first of all thank you for your lib.

I'm having issues using this lib in a symfony project, and after digging a little I think that there may be a problem using lowercase in http methods such as `get` or `post`.

Here is my example :

[code]

This code is generating the current exception :

[code]

From what I understand, the class `Psr18Client`  generates HTTP calls with the methods `request

[2021-06-01 07:42] kbsali commented on #278
Hi @npotier ,

well spotted! We'd be more than happy to get a PR for fixing this! :+1:
thanks!

[2021-06-01 07:57] npotier commented on #278
Thanks @kbsali I've submitted the PR 😉

[2021-06-01 10:50] #274 closed, assigned to Art4

[2021-06-01 12:00] Art4 commented on #274
I just released v1.8.1
Thank you for your contribution.

[2021-06-01 12:01] Art4 commented on #278
I just released v1.8.1
Thank you for your contribution.

[2021-06-01 12:01] #278 closed, assigned to nobody

[2021-06-28 14:59] phungthuan99 opened #288 "Add watcher_user_id"
I want to add watcher_user_id, what should I do?
and i tried using this function inside file Redmine/Api/Issue.php but it doesn't work
`public function addWatcher($id, $watcherUserId)
{
return $this->post('/issues/'.$id.'/watchers.xml', '<user_id>'.$watcherUserId.'</user_id>');
}`
my code
`$client->getApi('issue')->addWatcher($issue_id,$watcher_user_id);`
thanks

[2021-06-29 13:28] Art4 commented on #288
Please try this: (untested)

[code]

[2021-06-29 16:27] phungthuan99 commented on #288
Thanks, But I tried it but it still doesn't work
:((

[2021-06-29 16:32] phungthuan99 commented on #288
this is my code, can you check it for me
$issue_id = $_REQUEST['issue_id'];
        $id_user_watcher = $_REQUEST['id_user_watcher'];
        $client->getApi('issue')->update($issue_id, [
            'watcher_user_ids' => [
                $id_user_watcher
            ],
        ]);
I console.log it still get working and value, but after execute getApi it gives error

[2021-06-30 06:24] Art4 commented on #288
The [Redmine docs](https://www.redmine.org/projects/redmine/wiki/Rest_Issues#Adding-a-watcher) tells:

But for me it is unclear how to set the required `user_id`. Could someone help me?

[2021-07-01 13:22] Top-CMS opened #289 "homepage missing in projects"
Hi,

I miss the homepage when extracting all inf about the projects from Redmine, is this (base) field forgotten?

`$projecten = $client->getApi('project')->all`

[2021-07-01 20:30] Top-CMS opened #290 "Possible to get all issues (open and closed)"
Hi,

With the default settings I get all issues with status open
or when 'status_id' => 'closed', I get closed issues, butI want them all

How can I do that?
[code]

[2021-07-02 09:50] Top-CMS commented on #290
Found it:
[code]

Now finding solution with date start_date from to
from
`'start_date' => '2021-01-01',`
To
`'start_date' => '2021-01-31',`

[2021-07-05 11:09] Art4 commented on #289
The Redmine-API doesn't expose the project website at the `/projects` endpoint. To cite the [documentation](https://www.redmine.org/projects/redmine/wiki/Rest_Projects#Listing-projects):

Possible values are trackers, issue_categories, enabled_modules, so you can't include the homepage at this endpoint.

### Workaround

Try the `/projects/[id].xml` endpoint instead:

[code]

[2021-07-05 11:32] Art4 commented on #290
Hey, please take a look at the [Redmine API documentation](https://www.redmine.org/projects/redmine/wiki/Rest_Issues#Listing-issues).

So try this:
[code]

[2021-07-07 17:51] Top-CMS commented on #290
Top, thnx, that works great

[2021-07-07 17:51] #290 closed, assigned to nobody

[2021-07-07 18:05] Top-CMS commented on #289
unfortunately, can't get this work

[code]

returns Line 25 'var_dump($data['project']['homepage']); '

[code]

[2021-07-09 13:01] Art4 commented on #289
Please check the data returned by the Redmine API and act as you need.

`var_dump($data);`

This is not the responsibility of this library. Thank you.

[2021-07-09 13:01] #289 closed, assigned to nobody

[2021-09-20 13:23] italo1983 opened #292 "Searching issues by subject with wildcard not working"
Searching issues by subject using wildcard does not return results:

[code]

[2021-09-22 07:25] Art4 commented on #292
Hey 👋

I simplified your example to just the wildcard field in the subject:

[code]

This gives me 4 results and thats the number I'd expected.

Please make sure that your other values in `$data` are correct.

[2021-09-22 07:29] Art4 commented on #267
Hey, It's been a while and I hope you were able to solve your problem. I'm going to close this issue, but feel free to reopen it if you continue to have problems.

[2021-09-22 07:29] #267 closed

[2021-10-04 22:40] italo1983 commented on #292
Hi,
sorry but is not working..
<img width="467" alt="Schermata 2021-10-05 alle 00 39 17" src="https://user-images.githubusercontent.com/14132969/135934140-a6c4c46a-b9b6-40f3-813d-48b8647810a0.png">
<img width="493" alt="Schermata 2021-10-05 alle 00 39 37" src="https://user-images.githubusercontent.com/14132969/135934149-b7499957-5e32-4ce7-8d3e-cbfba85e1af3.png">

[2021-10-06 12:28] Art4 commented on #292
Please try `2016curry~`.

But this is an undocumented feature of Redmine-API. It seems that using wildcards in subject isn't supported at the moment, see https://www.redmine.org/issues/13347

So there is nothing we can do here.

[2021-10-06 12:28] #292 closed, assigned to nobody

[2021-11-04 18:34] renovate[bot] opened #297 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/kbsali/php-redmine-api).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

## Repo

[2021-12-14 14:31] Art4 commented on #277
I've been thinking about the problem and can't come to a satisfying conclusion on how the `->all()` method should be implemented.

At the moment `->all()` returns a maximum of 25 elements if the limit is not changed with `->all(['limit' => 200])`. If we want to implement the `->all()` method properly, I see two possibilities:

1. We set the internal limit to `all(['limit' => \PHP_INT_MAX ])`, whic

[2021-12-14 15:23] Art4 commented on #256
Hey, it's been a while since the last activity here, so I'm closing the ticket.

Feel free to comment if there are any new findings and then we'll reopen the ticket.

[2021-12-14 15:23] #256 closed

[2022-01-03 13:41] Art4 commented on #192
Update:

https://www.redmine.org/issues/13725#note-8

There will be 4 new endpoints that we will need to implement:

- `PUT /projects/:id/archive.xml`
- `PUT /projects/:id/unarchive.xml`
- `PUT /projects/:id/close.xml`
- `PUT /projects/:id/reopen.xml`

[2022-01-04 12:48] #264 closed

[2022-01-11 14:03] daften opened #303 "Also fix html special chars when updating time entries"
Updating was forgotten in #258

[2022-01-13 12:59] #303 closed, assigned to nobody

[2022-01-13 14:11] Art4 opened #305 "[Overview] Tracking of Remine API feature support"
I've looked through [Redmine's CHANGELOG](https://www.redmine.org/projects/redmine/wiki/Changelog) and gathered all the features that affect the REST API in this issue.

The goal is to have one place where Redmine features are captured and we can more easily see what functionality is not yet implemented.

### [Redmine 6.0.0](https://www.redmine.org/projects/redmine/wiki/Changelog_6_0)

- [ ] Featu

[2022-01-13 18:21] Art4 opened #306 "Feature #30086: Use HTTP status code 403 instead of 401 when REST API is disabled"

[2022-01-14 10:04] Art4 commented on #306
Sorry, I messed up with Github UI.

[2022-01-14 10:04] #306 closed, assigned to nobody

[2022-02-04 09:33] kukukk opened #308 "Unassigne user from issue"
Hi,

I would like to unassigne a user from an issue but without assigning the issue to an another user.

It is possible to do it with a PUT request to `issues/_issue_id_.json` endpint with the following body:
[code]
I tried the same with this client using the following code snippet:
[code]
But the `sanitizeParams()` method eliminates the empty `assigned_to_id` field.

So, my question is: how can I

[2022-02-23 12:15] Art4 commented on #308
Hey @kburwieck You are right, this is a bug in `AbstractApi::sanitizeParams()`.

I have created and tested a bugfix, but found that there is a bug in Redmine when the REST API is accessed as XML. See https://www.redmine.org/issues/33744

So for fixing this bug we would need to switch to JSON instead of XML for updating an issue.

[2022-02-23 12:27] Art4 commented on #308
As a workaround one could use this code to unassign a user from an issue:

[code]

[2022-03-01 07:28] #308 closed, assigned to nobody

[2022-03-01 08:34] Art4 commented on #288
Hey @phungthuan99, I just tested adding a watcher to an issue with this code:

[code]

The code works as expected. Please make sure that

- the `$issueId` and `$userId` are correct
- the user has the permission to watch the issue
- you are using Redmine 2.3 or newer

[2022-03-01 08:34] #288 closed, assigned to nobody

[2022-03-01 09:24] Art4 commented on #308
I just released v2.2.0

[2022-03-07 10:08] andreasGothe opened #312 "Installation with Composer not working"
Hi, when I try to install with composer this is what I get:

[code]

Any suggestions? Thanks for the help!

[2022-03-07 10:54] Art4 commented on #312
Hey 👋

Could you please post the full command you are using to install the library?

[2022-03-07 10:58] Art4 commented on #312
Also please make sure to use the correct package name `kbsali/redmine-api`, not `kbsali/php-redmine-api`

[2022-03-07 11:19] kbsali commented on #312
that's indeed probably the issue! :)

[2022-03-07 11:29] andreasGothe commented on #312
Thanks for your quick help! This was indeed the problem! Seem like the usage.md needs to be corrected:

https://github.com/kbsali/php-redmine-api/blob/v2.2.0/docs/usage.md

I copied it from there and got 'php-redmine-api' :)

[2022-03-07 11:39] Art4 commented on #312
@andreasGothe Thank you very much for pointing this out. 😊

[2022-03-07 12:05] #312 closed, assigned to Art4